body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 30px;
}

nav {
  padding: 35px;
}

img {
  border-radius: 5px;
}

#profileButton {
  margin: 20px;
}

.brand-left {
  margin-right: auto;
}

#listingDetails {
  margin-bottom: 60px; /* Adjust the value based on your footer's height */
}

#formInputWidth {
  min-width: 300px;
  max-width: 500px;
}

#avatarInput {
  min-width: 150px;
  max-width: 200px;
}

#updateAvatarBtn {
  min-width: 100px;
  max-width: 200px;
}

.media {
  justify-content: center;
}

.custom-width {
  width: 300px;
}

.footer-fix {
  flex-grow: 1;
}
