body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

nav {
  padding: 35px;
}

img {
  border-radius: 5px;
}
#profileButton {
    margin: 20px;
}

.image-boarder-radius {
    border-radius: 5px;
    max-width: 500px;
    margin: 20px;
    
  }
  

.feed-img {
  max-width: 50%;
  margin: 10px;
}

.media {
  justify-content: center;
}

.footerfix {
  flex-grow: 1;
}


.ownerColor {
  color:rgb(114, 161, 155)
}

.feedFormtext {
  color: rgb(79, 151, 128);
}